@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Sorts Mill Goudy';
    src: url('./fonts/SortsMillGoudy-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }
  body {
    @apply overflow-x-hidden text-primary font-secondary bg-white text-lg;
    height: 100%;
  }
  .h1-normal {
    
    @apply text-[30px] lg:text-[30px] font-secondary italic leading-[120%] mb-6 tracking-[-0.05em] mb-2;
  }
  .h1 {
    @apply text-[54px] lg:text-[50px] font-primary font-bold capitalize leading-[120%] tracking-[-0.05em] mb-2;
    /* font-primary font-bold */
  }
  .section {
    @apply min-h-screen w-screen;
  }
  .btn {
    @apply py-[18px] px-[50px] h-[66px] flex items-center justify-center text-base uppercase font-primary bg-primary text-white;
  }
}
  @layer components {
    .about-name {
      @apply text-3xl lg:text-4xl font-secondary italic mb-2;
    }
    .about-title { 
      @apply text-lg lg:text-xl font-secondary italic text-grey mb-6;
    }
    .about-list { 
      /*for about paragraph*/
      @apply list-inside font-fifth text-[17px] leading-[26px] text-grey;
    }
    .about-list li {
      @apply mb-2;
    }
    .gear-title {
      /* underlines for gear in contact page */
      @apply text-xl font-primary mb-6 relative pb-0 inline-block text-grey;

      background-image: url('./img/contact/underline-hand-drawn.svg');
      background-repeat: no-repeat;
      background-position: bottom;
      background-size: 100px 5px;
    }
    .gear-list {
      @apply font-secondary text-base text-grey;
    }
    .gear-list li {
      @apply mb-1;
    }
    .about-socials {
      @apply font-secondary inline-block text-grey text-center;

      background-image: url('./img/contact/circle-hand-drawn.svg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100% 36px;

      padding: 16px 30px;
    
    }
    .about-socialss {
      /* second underline for email in contact page */
      @apply text-xl font-primary mb-6 relative pb-0 inline-block text-grey;

      background-image: url('./img/contact/uunderline-hand-drawn.svg');
      background-repeat: no-repeat;
      background-position: bottom;
      background-size: 168px 10px;

      padding: 7px 150px;
    
    }
}
  
